* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	font: 14px Arial, sans-serif;
	line-height: 30px;
}

#container {
	position: relative;
	display: block;
	
	border: solid 1px black;
	width: 360px;
	min-height: 470px;
	padding: 10px;
	margin: 0 auto;
}

#menu {
	position: absolute;
	right: 0;
	margin: 0px;
	width: 30px;
	height: 30px;
	background: lightgray;
	text-align: center;
	font-size: 30px;
	display: none;
}

#menu:hover {
	cursor: pointer;
}

#tabs {
	text-align: right;
	display: block;
	position: absolute;
	width: 170px;
	left: -171px;
	top: inherit;
	right: inherit;
}

#tabs div {
	display: block;
	margin: 0;
	margin-bottom: 4px;
	padding: 0 10px;
	
	border: solid 1px lightgray;
	border-right: solid 1px black;
	border-radius: 7px 0 0 0;
	
	background: white;
	
	z-index: 999;
	position: relative;
	left: 1px;
	color: gray;
	cursor: pointer;
}

#tabs div.active {
	color: black;
	border-color: black;
	border-right: solid 1px white;
}

#tabs div.activity {
	color: blue;
}

#tabs div.error {
	color: red;
}

h1 {
	margin: 0;
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	background-color: lightgray;
}

legend {
	font-weight: bold;
}

form {
	display: block;
	vertical-align: top;
	margin: 0;
	width: 100%;
}

form.auto {
	width: auto;
	display: inline-block;
}

form.esp {
	display: none;
}

form.active input	{
	background: green !important;
	color: white;
}
form.disabled input {
	background: red	!important;
	color: white;
}

form.esp.long-poll {
	display: inline-block;
}

fieldset {
	display: block;
	border: solid 1px black;
	margin-bottom: 10px;
	width: 100%;
	padding: 10px;
	padding-top: 0px;
}

fieldset fieldset {
	padding-bottom: 0px;
}

label {
	display: inline-block;
	width: 120px;
	line-height: 20px;
	margin-bottom: 10px;
}

textarea,
input,
select {
	font: 14px Arial, sans-serif;
	padding: 3px;
	margin-bottom: 10px;
}

textarea:disabled,
input[type=text]:disabled {
	border: none;
	background: white;
	color: gray;
	font-weight: bold;
}

input[type=text]:disabled.default {
	border: solid 1px gray;
	background: #EBEBEB;
	color: gray;
	font-weight: normal;
	width: 167px;
}

input[type=checkbox] {
	width: 20px;
	height: 20px;
	margin-right: 160px;
}

textarea,
select,
input[type=text],
input[type=password],
input[type=file] {
	width: 180px;
}

textarea {
	resize: none;
	height: 50px;
	vertical-align: top;
}

fieldset fieldset select,
fieldset fieldset input[type=text] {
	width: 160px;
}

input[type=range] {
	height: 3px;
	border: none;
	width: 175px;
}
input[type=range]:focus {
	outline: none;
}
input[type=range].red {
	-webkit-appearance: none;
	background: red;
}
input[type=range].green {
	-webkit-appearance: none;
	background: green;
}
input[type=range].blue {
	-webkit-appearance: none;
	background: blue;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	/* IE10+ CSS styles go here */
	input[type=range] {
		height: 75px;
		background: none !important;
	}
	input[type=range]::-ms-track {
		height: 3px;
		color: transparent;
		border: none;
		background: grey;
	}
	input[type=range]::-ms-thumb {
		height: 22px;
		width: 7px;
		border: 1px solid black;
		background: lightgrey;
	}
	input[type=range].red::-ms-fill-lower {
		background: red;
	}
	input[type=range].green::-ms-fill-lower {
		background: green;
	}
	input[type=range].blue::-ms-fill-lower {
		background: blue;
	}
}

.status {
	font-size: 12px;
	line-height: 20px;
	background: gray;
	color: white;
	padding: 0 10px;
	margin: 0;
}

.activity {
	background: gray;
	color: lightblue;
}

.error {
	background: red;
	color: white;
}

.center {
	text-align: center;
}

#finger-delete {
	display: none;
}

.bits {
	display: inline-block; 
	width: 95px; 
	white-space: normal; 
	vertical-align: top;
}

.bits * {
	display: inline-block; 
	width: 20px !important; 
	white-space: normal; 
	margin: 0;
	font-size: 10px;
	text-align: center;
	line-height: 12px;
}

.emtr select,
.emtr input[type=text] {
	width: 130px;
}
.emtr input[type=checkbox] {
	margin-right: 110px;
}

.emtr input[type=text].counter {
	width: 70px;
}

.emtr input[type=text].calibrate {
	width: 50px;
}

.emtr .emtr-reset {
	width: 50px;
}

.emtr input[type=range]	{
	width: 130px;
}

.emtr label {
	width: 170px;
}

.emtr input[name=ReadInterval][type=text]{
	text-align: center;
}

.emtr-mode {
	display: none;
}

.emtr-mode input[type=text] {
	width: 90px;
}

.emtr .emtr-mode label {
	width: 210px;
}

@media only screen and (max-device-width:640px) {
	body {
		margin:0;
		padding: 0;
	}
	
	#menu {
		display: block;
		margin: 0 10px;
	}
	
	#tabs {
		left: inherit;
		top: 15px;
		right: 35px;
		
		background: white;
		border: solid 1px black;
		padding: 1px;
	}
	
	#tabs div {
		border: none;
		border-radius: 0;
		text-align: left;
	}
	
	#tabs div.active {
		color: blue;
	}
	
	#tabs div:hover {
		background: lightgray;
	}
	
	#container {
		width: 360px;
		border: none;
	}
}
